@charset "utf-8";

$main-color: #f95413;
$font-color: #999;
$title-color: #333;
$back-color: #fff;
$btn-back-color: #1ba2ff;
$font-text-color: #666;
$body-back-color: #eee;
$body-color: #555;
$line-color: #ddd;
$text-back-color: #f8f8f8;
$progress-color: #ccc;
$red-pack-bg-color: #ea4646;
